#aplicativo {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    

}

h2 {
    font-family: Qilka;
    font-size: 40px;
    color: #805BEF;
    margin-top: 30px;
    margin-bottom: 30px;
}

#aplicativo p {
    font-size: 22px;
    padding: 0 120px;
}

#aplicativo img {
    width: 36%;
    height: auto;
    bottom: 0;
    display: block;
    margin-top: auto;
}

.barraRox {
    width: 100%;
    height: 65px;
    background-color: #805BEF;
    bottom: 0;
    margin: 0;
    
}

/* A parte responisiva aqui*/

@media screen and (max-width: 1170px) {
    #aplicativo {
        padding-top: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    #aplicativo p {
        font-size: 26px;
        padding: 0 20px;
    }
    
    #aplicativo img {
        bottom: 0;
        display: block;
    }

    .barraRox {
        bottom: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        
        width: 100%;
        height: 2000px;
        background-color: #805BEF;
    }
}