#home {
    display: flex;
    align-items: center;           
    justify-content: space-between;
    min-height: calc(110vh - 89px);
    width: 100%;
    gap: 20px;
    padding-left: 5%;
    padding-right: 0;
    margin-bottom: 50px;
}

#texInicio {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    justify-content: center;
}

#texInicio .title {
    font-size: 65px;
    max-width: 600px;
    font-family: "Qilka";
    color: #EEBD2A;
}

#texInicio .apresentacao {
    font-size: 26px;
    font-family: "TT2";
    line-height: 1.4;
}

.banner {
    width: 50%;
    display: flex;
    justify-content: flex-end;    
    align-items: center;
}

.banner img {
    width: 100%;                  
    max-width: 900px;             
    height: auto;
    object-fit: contain; 
    
}

.ban2 {
    display: none;
}


/* A parte responisiva aqui*/

@media (max-width: 768px) {

    #home {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; /* NÃO centraliza */
        padding-left: 5%;
        padding-right: 0;
        gap: 30px;
        min-height: auto;
        margin-bottom: 30px;
    }

    #texInicio {
        width: 100%;
        max-width: 100%;
        align-items: flex-start; /* texto alinhado à esquerda */
        text-align: right;
    }

    #texInicio .title {
        font-size: 42px;
        max-width: 90%;
    }

    #texInicio .apresentacao {
        font-size: 20px;
        max-width: 90%;
    }

    .banner {
        width: 100%;
        display: flex;
        justify-content: flex-end; /* EMPURRA PRA DIREITA */
        align-items: flex-end;
        padding-right: 0;
    }

    .banner img {
        width: 90%;        /* ocupa boa parte da direita */
        max-width: none;   /* impede de limitar a largura */
        object-fit: contain;
    }
}