header {
    width: 100%;
    padding: 22px 5%;
    
}

#navega {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navega .logo1 {
    height: 35px;
}

#lisNavega {
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
}

.item-nav a {
    text-decoration: none;
    color: #523E8F;
    font-size: 25px;
}

.item-nav.active a {
    text-decoration: none;
    color: #625097;
    border-bottom: 3px solid #F2C438;
}

.btn-app {
    text-decoration: none;
}

.navega a {
    text-decoration: none;
}

#btn-mobile {
    display: none;
        -webkit-tap-highlight-color: transparent;
}

#mobileMenu {
    display: none;
}

@media (max-width: 768px) {

    /* deixa o header mais compacto */
    header {
        padding: 15px 5%;
    }

    /* diminui o tamanho da logo */
    #navega .logo1 {
        height: 28px;
    }

    /* some com o menu grande */
    #lisNavega {
        display: none;
    }

    .btn-app {
        margin-left: auto;       /* empurra tudo pra esquerda */
        margin-right: 0;         /* encosta na direita */
        font-size: 16px;
        padding: 8px 15px;
        border-radius: 8px;
    }
    
}